# Gradle build files
/.gradle/
/build/
/bin/
src/main/resources/docs/

# IDEA files
/.idea/
/out/
/*.iml

# Storage/log files
/data/
/config.json
/preferences.json
/*.log.*
hs_err_pid[0-9]*.log

# IDE config files
.project
.classpath
.settings/

# Test sandbox files
src/test/data/sandbox/

# Attribute files created by Finder and File Explorer
.DS_Store
Desktop.ini

docs/_site/
