// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
h2, h3, h4 {
  color: #e46c0a;
}
h5 {
  color: #a94325;
}
h6 {
  color: $text-color;
}


// Bootstrap style alerts
.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  border-radius : $alert-border-radius;
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: $alert-link-font-weight;
}

// Generate contextual modifier classes for colorizing the alert.

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(color-level($value, $alert-bg-level), color-level($value, $alert-border-level), color-level($value, $alert-color-level));
  }
}

// Custom basic overrides
.icon {
    height: 21px;
    width: 21px;
}

hr {
    opacity: 0.3;
}

img.emoji {
    height: 16px;
    width: 16px;
    vertical-align: baseline;
}

// Syntax highlighting term overrides
// - Multiline
.language-sh, .language-bash, .language-shell {
  .highlight code {
    .nb {
      /* parsing of this seems inconsistent */
      color: unset;
    }
    .nt {
      /* do not wrap --flags */
      white-space: nowrap;
    }
  }
}
// - Inline
code.language-plaintext, code.language-sh, code.language-bash, code.language-shell {
  .nt {
    /* do not wrap --flags */
    white-space: nowrap;
  }
}

// Pill styles
.pill {

  border: 1px solid transparent;
  border-radius: 16px;
  padding: 2px 12px;
  margin: 0 2px;

  background-color: #88888822;

  font-family: verdana;
  font-size: 75%;
  vertical-align: text-bottom;

  display: inline-block;

  .pill {
    /* so nesting pills will look the same */
    font-size: 100%;
    vertical-align: baseline;
  }

  img.emoji {
    height: 12px;
    width: 12px;
    vertical-align: unset;
    margin: -2px 0;
  }

  &.beginner {
    background-color: #00cc0022;
    border-color: #00cc00;
    color: #008800;
  }

  &.intermediate {
    background-color: #ffa50022;
    border-color: #cc8800;
    color: #aa5500;
  }

  &.expert {
    background-color: #ff000022;
    border-color: #cc0000;
    color: #cc0000;
  }

  &.learning-outcome {
    background-color: #ffeb99;
    color: #552800;
  }

  &.information {
    background-color: #33aaff22;
    color: #3377aa;
  }

  &.danger {
    background-color: #cc3333;
    color: #ffffff;
  }

  &.warning {
    background-color: #fdcc99;
    color: #331800;
  }

  &.applies-to {
    background-color: #fdfbf9;
    border-color: #e8e6e5;
    color: #444444;

    padding-right: 2px;
    margin: 4px 2px;

    &.jobby-data-class:not(:first-child) {
      margin-left: 0;
    }

    &::before {
      content: "Applies to ";
    }
  }

  &.jobby-data-class {
    border-color: #a8583333;
  }
}

// Jobby data class highlighting
.jobby-data-class {
  background-color: #ff886633;
  color: #633412;

  &:not(.pill) {
    border-radius: 4px;
    padding: 0 4px;
  }
}


