---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.icon {
    height: 21px;
    width: 21px
}

.beginner-difficulty {
    background-color: #00FF00;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    font-family: verdana
}

.intermediate-difficulty {
    background-color: #FFA500;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    font-family: verdana
}

.expert-difficulty {
    background-color: #FF0000;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    font-family: verdana
}

.learning-outcome {
    background-color: #ffeb99;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    font-family: verdana
}

.job-application {
    background-color: #fff2e6;
    color: #000000;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    font-family: sans-serif
}

.information {
    background-color: #e6ffff;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    font-family: verdana
}

.alert-bubble {
    background-color: #FF5050;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    font-family: verdana
}

.warning-bubble {
    background-color: #ffeb99;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    font-family: verdana
}
