---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";


/* Custom formatting elements and overrides */
.icon {
    height: 21px;
    width: 21px;
}

hr {
    opacity: 0.3;
}

img.emoji {
    height: 16px;
    width: 16px;
    vertical-align: baseline;
}

.pill {

    border: 1px solid transparent;
    border-radius: 16px;
    padding: 2px 12px;
    margin: 0 2px;

    background-color: #88888822;

    font-family: verdana;
    font-size: 75%;
    vertical-align: text-bottom;

    .pill {
        font-size: 100%; /* so nesting pills won't keep shrinking the text */
    }

    img.emoji {
        height: 12px;
        width: 12px;
        vertical-align: unset;
        margin: -2px 0;
    }

    &.beginner {
        background-color: #00cc0022;
        border-color: #00cc00;
        color: #008800;
    }

    &.intermediate {
        background-color: #ffa50022;
        border-color: #cc8800;
        color: #aa5500;
    }

    &.expert {
        background-color: #ff000022;
        border-color: #cc0000;
        color: #cc0000;
    }

    &.learning-outcome {
        background-color: #ffeb99;
        color: #552800;
    }

    &.information {
        background-color: #33aaff22;
        color: #3377aa;
    }

    &.danger {
        background-color: #cc3333;
        color: #ffffff;
    }

    &.warning {
        background-color: #ffcc99;
        color: #331800;
    }

    &.applies-to {
        background-color: #fdfbf9;
        color: #e8e8e8;
        padding: 4px 12px;
        padding-right: 2px;
        margin: 4px 2px;
        display: inline-block;

        &.jobby-data-class:not(:first-child) {
            margin-left: 0;
        }
    }

    &.jobby-data-class {
        background-color: #ff886633;
        border-color: #a8583333;
        color: #633412;
    }
}

.jobby-data-class {
    background-color: #ff886633;

    &:not(.pill) {
        border-radius: 4px;
        padding: 0 4px;
    }
}

